<main class="meeting">
    <div class="header">
        <div>
            <span>
                <strong>Turma: </strong>
                {{cult.name}}
            </span>
            <span>
                <strong>Data: </strong>
                {{ maskDate(cult.date) }} 
            </span>
        </div>
        <span>
            <strong>Local: </strong>
            {{ cult.local }}
        </span>

        <app-room 
            *ngFor="let room of rooms;  let i = index" 
            [room]="room"
            (selectChildren)="selectedChildren($event)"
            [isVisitor]="false"
        ></app-room>
        <app-not-room *ngIf="childrensNotMeet.length > 0" [childrens]="childrensNotMeet"></app-not-room>

        <footer>
            <button
                [disabled]="childrensSelected.length <= 0"
                [ngClass]="childrensSelected.length <= 0 ? 'button-disabled' : ''"
            >
                Concluir checkin
            </button>
        </footer>
    </div>
</main>