<app-header title="Ajustes" ></app-header>
<section class="content">
    <main>
        <div class="content-family">
            <span>
                <strong>Familia: </strong>
                Barboza
            </span>
            <span>
                <strong>Contato principal: </strong>
                (11) 98467-0655 
            </span>
            <span>
                <strong>Email: </strong>
                teste@gmail.com
            </span>
            <span>
                <strong>Login: </strong>
                teste
            </span>

            <div class="content-button">
                <button>
                    Editar
                    <fa-icon [icon]="faEdit"/>
                </button>
            </div>
        </div>

    </main>
    <footer>

    </footer>
</section>