<main class="container">
    <img src="../../../assets/images/logotipo-fq-black.png" alt='logo' />
    <div class="content">
        <button type="button" (click)="navegateURL('')">Já tenho cadastro</button>
        <div>
            <a class="link" (click)="navegateURL('')">
                Cadastrar-me
            </a>
            <a class="link" (click)="navegateURL('')">
                Sou visitante
            </a>
        </div>
    </div>
</main>
<main className={styles.containerFull}>
    <!-- <NotImplementation></NotImplementation> -->
</main>