<main class="container">
    <img src="../../../assets/images/logotipo-fq-black.png" alt='logo' />
    <div class="content">
        <button type="button" (click)="navegateURL('login')">Já tenho cadastro</button>
        <div>
            <a class="link" (click)="navegateURL('register')">
                Cadastrar-me
            </a>
            <a class="link" (click)="navegateURL('visitor')">
                Sou visitante
            </a>
        </div>
    </div>
</main>
<main className={styles.containerFull}>
    <!-- <app-not-implementation></app-not-implementation> -->
</main>