<div class="navigation">
    <ul >
        <li *ngFor="let item of lista; let i = index" class="{{indexPage == i ? 'active' : null}}">
            <button (click)="navegated('', i)" class="link">
                <span class="icon">
                    <!-- {selectIcon(l.name)} -->
                    <span>Oi</span>
                </span>
                <span class="text">{{ item.name }}</span>
            </button>
        </li>
        <!-- {lista.map((l, i) => {
            return (
                <li key={i}
                    className={`${indexPage == i ? styles.active : null}`}
                >
                    <button onClick={() => navegated(l.url, i)} className={styles.link}>
                        <span className={styles.icon}>
                            {selectIcon(l.name)}
                        </span>
                        <span className={styles.text}>{l.name}</span>
                    </button>
                </li>
            )
        })} -->

        <div class="indicator"></div>
    </ul>
</div>