<main class="container">
    <img class="image" src="../../../../assets/images/logotipo-fq-black.png" alt="logo_o_alvo">
    <span>Equipe de trabalho</span>
    <form class="content" [formGroup]="form" (submit)="submit()">
        <section>

            <app-input-field 
                class="input" 
                formControlName="login" 
                label="Digite seu login" 
                type="text" 
            />

            <app-input-field 
                class="input" 
                formControlName="password" 
                label="Digite senha" 
                type="password" 
            />

            <button [disabled]="!form.valid" type="submit">
                <span>
                    <fa-icon class="icon" [icon]="faArrow"></fa-icon>
                </span>
                <div>
                    <span>Entrar</span>
                </div>
            </button>
        </section>
    </form>
</main>