<app-header 
    title="Cadastrando responsavel" 
    [backButton]="true"/>
<form [formGroup]="formGroup" class="main" (ngSubmit)="handleVisitor()">
    <app-input-field 
        formControlName="fullname" 
        label="Nome do responsavel completo" 
        type="text"
    />

    <app-input-phone
        formControlName="phoneNumber" 
        label="Telefone para contato" 
    />

    <app-input-field 
        formControlName="kinship" 
        label="Parentesco (Ex: Pai ou mãe)" 
        type="text"
    />

    <app-button-send 
        buttonType="submit"
        buttonTitle="Cadastrar"
        [disabled]="!formGroup.valid"
    />

</form>