<app-header title="Visitante"/>
<form [formGroup]="formGroup" class="main" (ngSubmit)="handleVisitor()">
    <app-input-field 
        formControlName="fullname" 
        label="Nome do responsavel completo" 
        type="text"
    />

    <app-input-field 
        formControlName="phoneNumber" 
        label="Telefone para contato" 
        type="number"
    />

    <app-input-field 
        formControlName="kinship" 
        label="Parentesco (Ex: Pai ou mãe)" 
        type="text"
    />

    <app-button-send 
        buttonType="submit"
        buttonTitle="Avançar"/>

</form>