<app-header title="Visitante"/>
<form class="main">
    <app-input-field label="Nome do responsavel completo"/>
    <!-- <Input value={nameParent} placeholder="Nome do responsavel completo" type="text" onChange={setNameParent} />
    <InputPhone value={phoneNumber} placeholder="Telefone para contato" onChange={setPhoneNumber} />
    <Input value={kinship} placeholder="Parentesco (Ex: Pai ou mãe)" type="text" onChange={setKinship} />
    <Divider />

    <Button disabled={btDisabled} onChange={()=> handleVisitor()}
        text="Avançar"
        /> -->

</form>